@import "src/assets/styles/variables";

mat-sidenav {
  background: #fafafa;
  border-right: none;
}

mat-sidenav-content {
  height: calc(100vh - 48px);
}

.mat-toolbar-multiple-rows {
  min-height: 40px;

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 40px;
  }
}

.menu-items {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.item-list-menu {
  margin-left: 10px !important;
}

.divider-top {
  border-top: 1px solid #9e9e9e;
}

.info {

  h3 {
    text-align: center;
    margin: 0;
    font-size: 16px !important;
  }
// 40px 16px texto 12px inputs

  a {
    text-decoration: none;
    color: $primary-color;
  }

  .mat-list-item {
    padding: 5px;
    margin: 0;
  }

  a.is-active {
    background-color: $primary-color;
    color: white;
    // border-top-left-radius: 30px;
    // border-bottom-left-radius: 30px;

    h3 {
      font-weight: 600;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.mat-list-base {
  padding-top: 0;
}

.app-menu {
  color: #5F6368;
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  margin-right: 10px;
}

::ng-deep .apps-menu {
  width: 320px;
  height: 110px;
  padding: 8px;

  .mat-menu-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:not(:empty) {
      padding: 0;
    }

    button.app {
      width: 33%;
      margin: 2px;
      height: 100%;
      text-align: center;

      &.opacity {
        opacity: .5;
      }

      img {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: .8rem;
        font-weight: 500;
        margin: 2px 0px;
      }
    }
  }



}

mat-toolbar {
  border-bottom: 3px solid #f0f0f0;


  mat-toolbar-row {
    img.logo {
      padding-left: 8px;
      width: 100px;
      cursor: pointer;
    }

    img.flag {
      width: auto;
      height: 30px;
      cursor: pointer;
    }

  }

  img.profile {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-items: center;

    p {
      font-size: .7rem;
      line-height: .7rem;
      height: .7rem;
      margin: 2px 24px 2px 8px;
    }

    .username {
      font-weight: 600;
    }
  }


}

.mat-list-item {
  margin: 8px 32px 8px 0px;

  .mat-list-icon {
    padding-left: 16px;
  }
}

@media (max-width: 480px) {
  mat-toolbar {
    .info {
      display: none;
    }
  }
}
