.grid-w2ui-claro {
  width: 100%;
  height: 500px;

}

.w2ui-head,
.w2ui-col-header {
  background: purple !important;
}

.w2ui-grid {
  .w2ui-grid-toolbar {
    background-color: #ff0000 !important;
  }
}

.w2ui-grid-toolbar .w2ui-reset .w2ui-toolbar {
  background-color: #ff0000 !important;
}

.w2ui-toolbar {
  table.w2ui-button.over {
    background-color: #8b0b0b !important;
  }
}
