<ng-progress></ng-progress>
<div id="wrapper-tickets-wo">
  <div id="container" class="scroll">
    <div class="row">
      <div class="col col-12 filters">

        <div id="header">
          <form #form="ngForm" ngNativeValidate>
            <div class="flex-container">
              <mat-form-field appearance="outline" class="search">
                <mat-label>Mes</mat-label>
                <mat-select required placeholder="Selecciona un mes"  [(ngModel)]="search.mes" name="mes" [disabled]="loading"
                (selectionChange)="selectedOpt($event, this.search.mes)">
                  <mat-option *ngFor="let mes of meses" [value] = "mes">{{mes}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="search">
                <mat-label>País</mat-label>
                <mat-select [(ngModel)]="search.pais" name="pais" multiple required
                  (selectionChange)="selectedOpt($event, this.search.pais)" [disabled]="loading || this.paises.length < 1"
                >
                  <mat-option *ngFor="let pais of paises" [value]="pais.Pais">
                    <p>
                      {{pais.Pais}}
                    </p>
                    <p>
                      {{pais.Cantidad}}
                    </p>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="search">
                <mat-label>Área</mat-label>
                <mat-select [(ngModel)]="search.area" name="area" multiple required (selectionChange)="selectedOpt($event, this.search.area)"
                  [disabled]="loading || this.areas.length < 1" >
                  <mat-option *ngFor="let area of areas" [value]="area.Area">
                    <p>
                      {{area.Area}}
                    </p>
                    <p>
                      {{area.Cantidad}}
                    </p>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <!-- </div> -->

            <!-- <div class="flex-container"> -->
              <mat-form-field appearance="outline" class="search">
                <mat-label>Categoría de Cierre</mat-label>
                <mat-select [(ngModel)]="search.categoria" name="categoria" multiple required (selectionChange)="selectedOpt($event, this.search.categoria)"
                  [disabled]="loading || this.categorias.length < 1">
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria.Categoria">
                    <p>
                      {{categoria.Categoria}}
                    </p>
                    <p>
                      {{categoria.Cantidad}}
                    </p>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="search">
                <mat-label>Código de Cierre</mat-label>
                <mat-select [(ngModel)]="search.codigo" name="codigo" multiple required (selectionChange)="selectedOpt($event, this.search.codigo)"
                  [disabled]="loading || this.codigos.length < 1" >
                  <mat-option *ngFor="let codigo of codigos" [value]="codigo.Codigo">
                    <p>
                      {{codigo.Codigo}}
                    </p>
                    <p>
                      {{codigo.Cantidad}}
                    </p>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <button mat-flat-button class="primary-button search" type="submit" [disabled]="button || loading">
                <mat-icon matPrefix>search</mat-icon>BUSCAR
              </button> -->
            </div>

          </form>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col col-12" *ngIf="dataSourceResumen.length >= 1">
        <div class="center" id="tituloPrincipal">
          <br>
          <h1>
            {{headerResumen}}
          </h1>
          <h3 id="tituloTiempo">
            Datos obtenidos el: {{updatedAt | date:'dd/MM/yyyy hh:mm:ss'}}
          </h3>
          <br>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col col-12">

        <app-placeholder [message]="'Sin datos por el momento'" [loading]="loading" *ngIf="dataSourceResumen.length === 0 && dataTablaDetalle.length === 0">
        </app-placeholder>

        <div class="tabla-resumen">
          <app-w2ui-grid
            #w2ui
              *ngIf="dataSourceResumen.length >= 1"
              [name]="nameResumen"
              [header]="headerResumen"
              [records]="dataSourceResumen"
              [columns]="columnsResumen"
              [searches]="searchesResumen"
              [show]="show"
            >
          </app-w2ui-grid>

          <div class="table--container" *ngIf="dataSourceResumen.length >= 1">
            <div class="table--header" >
              <h3>RESUMEN CODIGO DE GESTION</h3>
            </div>
            <div *ngFor="let resumen of datosResumen" class="column1 {{resumen.CODIGO_CIERRE === 'NO SE COORDINO INGRESO DEL TECNICO' ? 'red' : resumen.CODIGO_CIERRE === 'SIN INTERVENCION TECNICA' ? 'orange' : resumen.CODIGO_CIERRE === 'WO MAL ASIGNADA' ? 'yellow' : ''}}">
              <p (click)="getCode(resumen.CODIGO_CIERRE)">{{resumen.CODIGO_CIERRE}}</p>
              <p>{{resumen.CONTEO_COD_CIERRE}}</p>
            </div>
          </div>

          <div class="table--container2" *ngIf="dataSourceResumen.length >= 1">
            <div class="card">
              <div class="cuadro blue"></div>
              <div class="description">
                <h2>{{sumaTicketsConReclamo}}</h2>
                <p>Tickets con reclamo</p>
              </div>
            </div>
            <div class="card">
              <div class="cuadro green"></div>
              <div class="description">
                <h2>{{totalTickets}}</h2>
                <p>Total Tickets WO</p>
              </div>
            </div>
            <div class="card">
              <div class="cuadro peach"></div>
              <div class="description">
                <h2>{{porcentajeConReclamos}} %</h2>
                <p>Con reclamos</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <app-w2ui-grid-detalle
          #w2ui
            *ngIf="dataTablaDetalle.length >= 1"
            [name]="nameDetalle"
            [header]="headerDetalle"
            [records]="dataTablaDetalle"
            [columns]="columnsDetalle"
            [searches]="searchesDetalle"
            [show]="show"
          >
        </app-w2ui-grid-detalle>

        <div class="HOLA" *ngIf="loadingDetalle">
          <mat-spinner></mat-spinner>
        </div>

      </div>
    </div>
  </div>
</div>
