@import "src/assets/styles/variables";
@import "src/assets/styles/material";

.HOLA{
  width: 100%;
  height: 100%;
  background-color: rgba(91, 91, 91, 0.24);
  position:absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper-reporte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  #container {
    overflow: auto;

    #header {
      margin: 20px 0;
    }
  }

  #tituloPrincipal {
    display: block;
    margin-top: 10px;
    font-weight: 300 !important;

    #tituloTiempo {
      margin: 0 10px;
    }
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .search {
    // width: calc((100% - 125px)/6);
    width: calc((100% - 125px)/4);
  }
  .graph-container {
    margin: 50px 0;
    display: flex;
    // justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    // align-items: center;
  }
  .graph-container-promedios {
    display: flex;
    // justify-content: space-evenly;
    width: 100%;
    justify-content: center;
    align-items: center;
    // align-items: center;
  }
  .chart-view {
    display: flex;
    width: 100%;
    height: 300px;
    // margin-left: 8%
  }
  .chart-view-promedios {
    display: flex;
    width: 50%;
    height: 300px;
    // margin-left: 8%
  }
  .controls{
    display: flex;
    justify-content: space-between;

  }

  .tabla-Detalle {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .promedios-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .tabla-promedios {
    width: 440px;
    margin: 0 auto;
  }

  ::ng-deep.ng-select {
    .ng-select-container.ng-appearance-outline {
      min-height: 56px !important;
    }
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

  .ng-select {
    padding-bottom: 4px !important;
  }

  /* CSS TABLA RESUMEN CODIGOS */
  .table--container {
    box-sizing: border-box;
    width: 450px;
    height: 450px;
    background-color: white;
    margin-left: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-auto-rows: auto;
    border-radius: 25px;
    -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.28);
    box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.28);
    & div {
      text-align: center;
      padding: 0 10px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-column: 2;
      & p {
        margin: 0;
        padding: 0;
      }
      & h3 {
        font-weight: bold;
        margin: 0;
      }
    }
  }

  .table--header {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
  }

  .column1 {
    grid-column: 2 / 3;
    border-radius: 10px;
  }

  .column1:hover {
    cursor: pointer;
  }

  .red {
    background-color: #FF0000;
    color: white;
    &:hover {
      background-color: #ce0000;
    }
  }

  .orange {
    background-color: #FF8000;
    &:hover {
      background-color: #df6f00;
    }
  }

  .yellow {
    background-color: #FFFF00;
    &:hover {
      background-color: #e0e000;
    }
  }

  .grey {
    &:hover {
      background-color: #8080804d;
    }
  }

  /* ============================================================================== */

  .table--container2 {
    width: 220px;
    height: 250px;
    // background-color: white;
    margin-left: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    border-radius: 25px;
  }

  .cuadro {
    height: 25px;
    width: 25px;
    border-radius: 5px;
  }

  .card {
    grid-column: 1 ;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    width: 130px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    text-align: start;
  }

  .description p {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.8rem;
  }

  .description h2 {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 900 !important;
    margin: 0;
  }

  .blue {
    background-color: #4778ff;
  }

  .green {
    background-color: aquamarine;
  }

  .peach {
    background-color: #f8a65e;
  }

  .mat-option-text {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  .link-container {
    cursor: pointer;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ce0000;
    margin: 20px auto;
    border-radius: 10px;
    &:hover {
    background-color: #a70101;
    }
    & p {
      color: white;
      margin: 0;
      padding: 0;
    }
  }

  .first-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .table-container {
    width: 250px;
    height: 120px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    background: white;
    box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  }
  .encabezado {
    width: 100%;
    text-align: center;
    font-weight: bold;
    grid-column: 1 / span 2;
    /* background-color: rgb(155, 162, 255); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bold {
    font-weight: bold;
  }

  .fila2 {
    padding: 5px;
    margin: 0 10px;
    background-color: #ffcb9b;
    border-radius: 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #wrapper-reporte {
    #container {}

    .flex-container {
      display: inline-block !important;
    }

    .search {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  #wrapper-reporte {
    #container {}

    .search {
      width: 25%;
    }
  }
}

@media (max-width: 1366px) {
  #wrapper-reporte {
    .chart-view {
      margin-left: 0;
    }
    .table--container {
      grid-template-columns: 5% 90% 5%;
      margin-left: 25px;
      width: 420px;
    }

    .table--container2 {
      margin-left: 0;
    }
  }
}
