<div id="wrapper-reporte">
  <div id="container" class="scroll">
    <div class="row">
      <div class="col col-12 filters">

        <div id="header">
          <form #form="ngForm" ngNativeValidate (ngSubmit)="searchData()">

            <div class="flex-container">

              <mat-form-field appearance="outline"
                [class.searchSinInputAfectacion]="search.tipoAlarma!=='Corte de Energía Comercial'"
                [class.search]="search.tipoAlarma==='Corte de Energía Comercial'">
                <mat-label>País</mat-label>
                <mat-select required placeholder="Selecciona un país" [(ngModel)]="search.pais" name="pais"
                  [disabled]="loading" (selectionChange)="optionSelected(search.pais)">
                  <mat-option *ngFor="let pais of paises" [value]="pais">{{pais}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline"
                [class.searchSinInputAfectacion]="search.tipoAlarma!=='Corte de Energía Comercial'"
                [class.search]="search.tipoAlarma==='Corte de Energía Comercial'">
                <mat-label>Región</mat-label>
                <mat-select multiple [(ngModel)]="search.region" name="region" required
                  (selectionChange)="optionSelected(search.region)"
                  [disabled]="regiones.length === 0 || search.pais === 'Regional'">
                  <mat-option *ngFor="let region of regiones" [value]="region">{{region}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline"
                [class.searchSinInputAfectacion]="search.tipoAlarma!=='Corte de Energía Comercial'"
                [class.search]="search.tipoAlarma==='Corte de Energía Comercial'">
                <mat-label>Tipo Alarma</mat-label>
                <mat-select required placeholder="Selecciona un tipo de alarma" [(ngModel)]="search.tipoAlarma"
                  name="tipoAlarma" [disabled]="loading">
                  <mat-option *ngFor="let tipoAlarma of tiposAlarma" [value]="tipoAlarma">{{tipoAlarma}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline"
                [class.searchSinInputAfectacion]="search.tipoAlarma!=='Corte de Energía Comercial'"
                [class.search]="search.tipoAlarma==='Corte de Energía Comercial'"
                *ngIf="search.tipoAlarma==='Corte de Energía Comercial'">
                <mat-label>Afectación</mat-label>
                <mat-select required placeholder=" Selecciona una afectación" [(ngModel)]="search.afectacion"
                  name="afectacion" [disabled]="loading">
                  <mat-option *ngFor="let afectacion of afectaciones" [value]="afectacion">{{afectacion}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline"
                [class.searchSinInputAfectacion]="search.tipoAlarma!=='Corte de Energía Comercial'"
                [class.search]="search.tipoAlarma==='Corte de Energía Comercial'" id="fechas">
                <mat-label>Ingresa un rango de fecha</mat-label>
                <mat-date-range-input [rangePicker]="picker" required>
                  <input matStartDate [(ngModel)]="search.dateRange.start" placeholder="Start Date" name="start">
                  <input matEndDate [(ngModel)]="search.dateRange.end" placeholder="End Date"
                    name="end"></mat-date-range-input>

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker [disabled]="false"></mat-date-range-picker>
              </mat-form-field>

              <button mat-flat-button class="primary-button" type="submit"
                [class.searchSinInputAfectacion]="search.tipoAlarma!=='Corte de Energía Comercial'"
                [class.search]="search.tipoAlarma==='Corte de Energía Comercial'"
                [disabled]="loading || search.pais.length === 0">
                <mat-icon matPrefix>search</mat-icon>BUSCAR
              </button>
            </div>

          </form>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col col-12" *ngIf="reporteCargado === true">
        <div class="center" id="tituloPrincipal">
          <br>
          <h1>
            {{tituloReporte+' '+tituloPais}}
          </h1>
          <h3 id="tituloTiempo">
            Datos obtenidos el: {{updatedAt | date:'dd/MM/yyyy hh:mm:ss'}}
          </h3>
          <h3 *ngIf="dataSourceDetalle.length <= 0 && !loadingDetalle">
            No se encontraron registros
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="tabla-Detalle">
      <app-w2ui-grid #w2ui *ngIf="columnsDetalle.length > 0" [name]="nameDetalle" [header]="headerDetalle"
        [records]="dataSourceDetalle" [columnGroups]="groupsDetalle" [columns]="columnsDetalle"
        [searches]="searchesDetalle" [show]="showDetalle">
      </app-w2ui-grid>
      <div class="HOLA" *ngIf="loadingDetalle">
        <mat-spinner></mat-spinner>
      </div>
    </div>

  </div>
</div>