<ng-progress></ng-progress>
<div id="wrapper-module">
  <div id="container" class="scroll">
    <div class="row">
      <div class="col col-12 filters">

        <div id="header">
          <form #form="ngForm" ngNativeValidate (ngSubmit)="searchData(form)" class="flex-container">

            <ng-select required name="country" [items]="countries" placeholder="País" appearance="outline"
              [multiple]="true" bindLabel="title" [closeOnSelect]="false" bindValue="id" [(ngModel)]="search.country"
              class="search required">
              <ng-template ng-header-tmp class="flex-container">
                <button mat-flat-button (click)="selectAll('country', 'countries', 'id');" class="cancel-button space"
                  type="button">Todos</button>
                <button mat-flat-button (click)="unselectAll('country')" class="cancel-button space"
                  type="button">Ninguno</button>
              </ng-template>

              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" [ngModelOptions]="{standalone: true}" type="checkbox"
                  [ngModel]="item$.selected" /> {{item.title}}
              </ng-template>
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                  <span class="ng-value-label">{{item.title}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true"> × </span>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length - 1}} más...</span>
                </div>
              </ng-template>
            </ng-select>

            <mat-form-field appearance="outline" class="search">
              <mat-label>Año</mat-label>
              <mat-select required placeholder="placeholder" [(ngModel)]="search.year" name="year">
                <mat-option *ngFor="let year of years" [value]="year">{{year.title}}</mat-option>
              </mat-select>
            </mat-form-field>

            <ng-select required name="service" [items]="services" placeholder="Tipo de servicio" appearance="outline"
              [multiple]="true" bindLabel="title" [closeOnSelect]="false" bindValue="title" [(ngModel)]="search.service"
              class="search required">
              <ng-template ng-header-tmp class="flex-container">
                <button mat-flat-button (click)="selectAll('service', 'services', 'title');" class="cancel-button space"
                  type="button">Todos</button>
                <button mat-flat-button (click)="unselectAll('service')" class="cancel-button space"
                  type="button">Ninguno</button>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" [ngModelOptions]="{standalone: true}" type="checkbox"
                  [ngModel]="item$.selected" /> {{item.title}}
              </ng-template>
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                  <span class="ng-value-label">{{item.title}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true"> × </span>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length - 1}} más...</span>
                </div>
              </ng-template>
            </ng-select>

            <ng-select required name="supplier" [items]="suppliers" placeholder="Proveedor interno" appearance="outline"
              [multiple]="true" bindLabel="title" [closeOnSelect]="false" bindValue="title"
              [(ngModel)]="search.supplier" class="search required">
              <ng-template ng-header-tmp class="flex-container">
                <button mat-flat-button (click)="selectAll('supplier', 'suppliers', 'title');"
                  class="cancel-button space" type="button">Todos</button>
                <button mat-flat-button (click)="unselectAll('supplier')" class="cancel-button space"
                  type="button">Ninguno</button>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" [ngModelOptions]="{standalone: true}" type="checkbox"
                  [ngModel]="item$.selected" /> {{item.title}}
              </ng-template>
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                  <span class="ng-value-label">{{item.title}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true"> × </span>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length - 1}} más...</span>
                </div>
              </ng-template>
            </ng-select>

            <button mat-flat-button class="primary-button" type="submit" [disabled]="loading">
              <mat-icon matPrefix>search</mat-icon>BUSCAR
            </button>
          </form>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col col-12" *ngIf="dataSource.length >= 1">
        <div class="center" id="tituloPrincipal">
          <h1>
            REPORTE DE OLA'S
          </h1>
          <h3 id="tituloTiempo">
            Datos obtenidos el: {{updatedAt | date:'dd/mm/yyyy hh:mm:ss'}}
          </h3>
          <br>
        </div>
      </div>
      <div class="col col-12">

        <!-- <mat-tab-group *ngIf="dataSource.length >= 1" (selectedTabChange)="refresh($event);">
          <mat-tab label="Tabla detalle"> -->
        <app-w2ui-grid #w2ui *ngIf="dataSource.length >= 1" [name]="name" [header]="header" [records]="dataSource"
          [columns]="columns" [searches]="searches" [show]="show" [styles]="styles" [columnGroups]="columnGroups"></app-w2ui-grid>
        <!-- </mat-tab>
          <mat-tab label="Tabla dinámica">
            <ngx-pivot-table [data]="dataSource" [ngModel]="'{}'" name="pivot-table" ngDefaultControl></ngx-pivot-table>
          </mat-tab>
        </mat-tab-group> -->

        <app-placeholder [message]="'Sin datos por el momento'" [loading]="loading" *ngIf="dataSource.length === 0">
        </app-placeholder>

      </div>
    </div>
  </div>
</div>
