<ng-progress></ng-progress>
<div id="wrapper-personal-cnoc">
  <div id="container" class="scroll">
    <div class="row">
      <div class="col col-12 filters">

        <div id="header">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col col-12" *ngIf="dataSourceResumen.length >= 1">
        <div class="center" id="tituloPrincipal">
          <br>
          <h1>
            {{headerResumen}}
          </h1>
          <h3 id="tituloTiempo">
            Datos obtenidos el: {{updatedAt | date:'dd/MM/yyyy hh:mm:ss'}}
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12">

        <app-placeholder [message]="'Sin datos por el momento'" [loading]="loading" *ngIf="dataSourceResumen.length === 0">
        </app-placeholder>

        <div class="tabla-resumen">
          <app-w2ui-grid 
            #w2ui 
              *ngIf="dataSourceResumen.length >= 1" 
              [name]="nameResumen" 
              [header]="headerResumen" 
              [records]="dataSourceResumen"
              [columns]="columnsResumen" 
              [searches]="searchesResumen" 
              [show]="show"
            >
          </app-w2ui-grid>
        </div>
        <br>
        <br>
        <app-w2ui-grid 
          #w2ui2 
            *ngIf="dataSourceDetalle.length >= 1" 
            [name]="nameDetalle" 
            [header]="headerDetalle" 
            [records]="dataSourceDetalle"
            [columns]="columnsDetalle" 
            [searches]="searchesDetalle" 
            [show]="show"
          >
        </app-w2ui-grid>
  

      </div>
    </div>
  </div>
</div>