<div id="wrapper-popup-table">
  <div id="container">
    <div class="flex-container m-10">
      <span class="title">{{dialogTitle}}</span>
      <button mat-icon-button (click)="sendForm('cancel')" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="loading centrar" *ngIf="spinner === true">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>

    <div class="row" *ngIf="loading === false">
      <div class="col col-12">
        <div class="center" id="tituloPrincipal">
          <h4 id="tituloTiempo">
            Datos obtenidos el: {{updatedAt | date:'dd/MM/yyyy hh:mm:ss'}}
          </h4>
          <br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12">
        <br>
        <div class="tabla-resumen-modal">
          <app-w2ui-grid-popup
            #w2ui
              *ngIf="dataTabla.length > 0"
              [name]="name"
              [header]="header"
              [records]="dataTabla"
              [columns]="columns"
              [searches]="searches"
              [show]="show"
              [(model)]="valueResumen"
              (click)="getActionResumen()"
            >
          </app-w2ui-grid-popup>
        </div>
      </div>
    </div>
  </div>
</div>
