@import "src/assets/styles/variables";
@import "src/assets/styles/material";

#wrapper-popup-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  .dialog-conent-form {
    height: 35vh;
  }

  .loading {
    height: 350px;
  }

  .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .m-10 {
    margin-left: 10px;
  }

  form {
    padding: 0;
    margin: 5px auto;
  }

  ::ng-deep.ng-select {
    .ng-select-container.ng-appearance-outline {
      min-height: 56px !important;
    }

    .ng-placeholder {
      padding: 0 .25em !important;
      background-color: white;
      z-index: 1;
    }
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }

  .ng-select {
    padding-bottom: 14px !important;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input {
    width: calc(100% - 15px);
    margin: 0 7.5px;
  }

  .tabla-resumen-modal {
    width: 865px;
    margin: 0 auto;
  }

  #container {
    height: auto;

    .title {
      color: $primary-color;
    }

    #actions {
      width: 100%;
      display: flex;
      flex-direction: unset;
      justify-content: center;
      margin: 0 auto;

    }

    header {
      display: flex;
      flex-direction: column;

      h3 {
        margin-top: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;

        mat-form-field {
          margin-bottom: -1em;
        }

        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #wrapper-popup-table {
    #container {
      header {
        form {
          .row {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  #container {
    .tabla-resumen-modal {
      width: 100%;
    }
  }
}
