<div id="wrapper-change-password">
  <div id="container">
    <span class="title">Cambiar contraseña para {{tmpData.fullName}}</span>
    <form ngNativeValidate class="form" #form (ngSubmit)="form.checkValidity() ? send() : null">

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input autocomplete="off" matInput placeholder="Ingresa la contraseña actual" type="password" name="password"
          [(ngModel)]="tmpData.password" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input autocomplete="off" matInput placeholder="Ingresa la nueva contraseña" type="password" name="new-password"
          [(ngModel)]="tmpData.newPassword" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input autocomplete="off" matInput placeholder="Confirma la contraseña" type="password" name="confirm-password"
          [(ngModel)]="tmpData.confirmPassword" required>
      </mat-form-field>
      <div id="actions">
        <button mat-raised-button mat-dialog-close class="cancel-button">
          <mat-icon aria-label="label">cancel</mat-icon> CANCELAR
        </button>
        <button mat-raised-button type="submit" class="primary-button">
          <mat-icon aria-label="label">save</mat-icon> GUARDAR
        </button>
      </div>
    </form>
  </div>
</div>
