@import "src/assets/styles/variables";
@import "src/assets/styles/material";

#wrapper-ola {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  #container {
    height: calc(100vh - 64px);
    overflow: auto;

    #header {
      margin: 20px 0;
    }
  }

  #tituloPrincipal {
    display: block;
    margin-top: 10px;
    font-weight: 300 !important;

    #tituloTiempo {
      margin: 0 10px;
    }
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .search {
    width: 20%;
  }

  ::ng-deep.ng-select {
    .ng-select-container.ng-appearance-outline {
      min-height: 56px !important;
    }
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

  .ng-select {
    padding-bottom: 4px !important;
  }
}

@media (max-width: 768px) {
  #wrapper-ola {
    #container {}

    .flex-container {
      display: inline-block !important;
    }

    .search {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  #wrapper-ola {
    #container {}

    .search {
      width: 25%;
    }
  }
}
