@import "src/assets/styles/variables";
@import "src/assets/styles/material";

#wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  .dialog-conent-form {
    height: 400px;
  }

  form {
    padding: 0;
    margin: 25px auto;
    -ms-box-orient: horizontal;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between !important;

    .item-form {
      margin: 0px auto;
      width: calc((100% / 12)*6) !important;
      display: flex;
      align-items: center;
      justify-content: center;

      .input {
        width: 95%;
      }
    }
  }

  #container {
    height: auto;

    .title {
      color: $primary-color;
    }

    #actions {
      width: 100%;
      display: flex;
      flex-direction: unset;
      justify-content: center;
      margin: 0 auto;

    }

    header {
      display: flex;
      flex-direction: column;

      h3 {
        margin-top: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;

        mat-form-field {
          margin-bottom: -1em;
        }

        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #wrapper-form {
    #container {
      header {
        form {
          .row {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
