<div id="wrapper-form">
  <div id="container">
    <span class="title">
      <span *ngIf="!formData.data.id">Crear</span>
      <span *ngIf="formData.data.id">Editar</span> {{formData.module}}</span>
    <form ngNativeValidate #form (ngSubmit)="form.checkValidity() ? send() : null">
      <div class="item-form" *ngFor="let item of list">
        <mat-form-field appearance="outline" class="input">
          <mat-label>{{item}}</mat-label>
          <input matInput type="text" [(ngModel)]="model[item]" name="{{item}}" required>
        </mat-form-field>
      </div>
      <div id="actions">
        <button class="button-cancel secundary-color" mat-raised-button mat-dialog-close>
          <mat-icon aria-label="label">cancel</mat-icon> Cancelar
        </button>
        <button class="button-ok primary-color" mat-raised-button type="submit">
          <mat-icon aria-label="label">save</mat-icon> Guardar {{formData.module}}
        </button>
      </div>
    </form>
  </div>
</div>
