$primary-color: #e91212;
$secundary-color: #ff9800;
$primary-hover: #e91212e8;
$secundary-hover: #ff9800e8;
$cancel-color: #707070;
$error-color: red;
$warning-color: orange;
$success-color: green;
$text-color: #ffffff;
$primary-background: #fafafa;
$secundary-background: #f4f4f4;
$global-padding: 5%;